html {
  height: 100%;
  display: table;
}
body {
  margin: auto;
  width: 80%;
  display: table-cell;
  height: 80%;
  vertical-align: middle;
}

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}

.BlogPost {
  background: LightBlue;
}

.column{
  float: left;
}

.pageContentColumn {
  width: 45%;
}

.thumbnail {
  width: 30%;
}

#MainImage {
  width:100%;
}

#PageContent {
  margin: auto;
  border: 1px dashed Red;
}

#SiteLogo {
  height: 80px;
  width: 80px;
}

#SiteTitle{
  margin-left: 10px;
}

#SiteNavigation {
  padding: 0px;
}

#SiteNavigation ul {
  margin: 0;
}

#SiteNavigation ul li {
  list-style-type: none;
}

#SiteNavigation ul li:not(:first-child){
  padding-left: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
