<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body class="container">

  <% include ../partials/header %>

  <main>
    <div class="jumbotron">

      <h2>Quotes!</h2>
      <ul>
          <% quotes.forEach(function(quote) { %>
              <li>
                  <%= test %> -
                  <%= test %>
              </li>
          <% }); %>
      </ul>
    </div>
  </main>

  <% include ../partials/footer %>

</body>

</html>
